.navbar {
  padding: 30px;
  padding-inline: 80px;
  display: flex;
  justify-content: space-between;
  background: #afe1af;
}

.navbar .links ul {
  display: flex;
  gap: 20px;
}

.links ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav_icon_wrapper {
  position: relative;
  display: flex;
  cursor: pointer;
}

.nav_icon {
  font-size: 34px;
  margin-left: 35px;
}

.nav_cart_qty {
  background-color: red;
  position: absolute;
  right: -8px;
  font-size: 12px;
  height: 20px;
  width: 20px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
